@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
	@apply pb-24 bg-gradient-to-r from-primary-600 to-cyan-600 dark:from-gray-900  dark:to-gray-900;
	@apply transition-all duration-500 ease-in-out;
}

.header a {
	@apply text-white;
}

.header a:hover {
	@apply bg-opacity-10 bg-white;
}

.container {
	@apply bg-slate-50 dark:bg-slate-950 shadow dark:shadow-none ring-1 ring-slate-100 dark:ring-1 dark:ring-slate-800;
	@apply text-black dark:text-slate-100;
	@apply transition-all duration-100 ease-in-out;
}

.dropdown {
	@apply bg-white ring-1 ring-black ring-opacity-5 dark:bg-gray-800;
}

.dropdown a {
	@apply text-gray-900 dark:text-gray-200;
}

.dropdown a:hover {
	@apply dark:bg-gray-700 bg-gray-300;
}

/*=************************************
 Generic Styles
***************************************/
html {
	@apply h-full;
	margin: 0px;
	padding: 0px;
}

body {
	@apply h-full bg-slate-100 dark:bg-black;
	margin: 0px;
	padding: 0px;
}

h3 {
	@apply text-gray-900 dark:text-gray-50;
}

p {
	@apply text-gray-700 dark:text-gray-300;
}

span,
label {
	@apply text-gray-500 dark:text-gray-400;
}

/*=************************************
 Data Table
***************************************/

.data-table table {
	@apply divide-gray-300 divide-y;
}

.data-table tbody {
	@apply divide-y divide-gray-200;
}
